<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>


    <settings>
<!--        <setting name="autoMappingBehavior" value="FULL"/>-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!-- 指定 mybatis 所用日志的具体实现，未指定时将自动查找 -->
        <!-- SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING -->
        <setting name="logImpl" value="JDK_LOGGING"/>

        <!-- 指定 mybatis 创建具有延迟加载能力的对象所用到的代理工具。CGLIB | JAVASSIST -->
<!--        <setting name="proxyFactory" value="CGLIB"/>-->
        <setting name="proxyFactory" value="CGLIB"/>
    </settings>


    <typeAliases>
        <package name="com.lemonwind.sm.entity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 此方案为扫描 mapper.xml 的文件名 -->
    <!--    <mappers>-->
    <!--        <mapper resource="xxxMapper.xml"/>-->
    <!--    </mappers>-->
    <mappers>
        <!-- 此方案需要 mapper 的接口与xml 放在同目录，且同名 -->
        <package name="com.lemonwind.sm.mapper"/>
    </mappers>

</configuration>
