<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemonwind.sm.mapper.UserMapper">

    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        name, age, sex, email, real_name
    </sql>

    <select id="findAll" resultType="com.lemonwind.sm.entity.User">
        SELECT * FROM jo_user WHERE age BETWEEN #{beginAge} AND #{endAge} AND sex = #{sex}
    </select>

</mapper>
