<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jomkie.sm.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jomkie.sbmp.entity.User">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="real_name" property="realName" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        name, age, sex, email, real_name
    </sql>

    <select id="findById" resultMap="BaseResultMap">
        SELECT * FROM jo_user WHERE id = #{id}
    </select>

    <select id="findCondition" resultType="com.jomkie.sm.entity.User">
        SELECT * FROM jo_user
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="beginAge != null">
                AND age &gt;= #{beginAge}
            </if>
            <if test="endAge != null">
                AND age &lt;= #{endAge}
            </if>
            <if test="sex != null">
                AND sex = #{sex}
            </if>
        </trim>
    </select>

</mapper>
